$breakpoint-md: 993px;
$breakpoint-sm: 600px;

body,
html {
  height: 100%;
}

body {
  @include display-flex;
  @include flex-direction(column);
}

main {
  @include flex(1 0 auto);
}

.section {
  padding: 3rem;

  &.column {
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
  }
}

.button-collapse,
a {
  color: color('grey', 'darken-4');

  &.underline {
    text-decoration: underline;
  }
}

nav {
  .nav-wrapper {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);
  }

  .links {
    @include flex(1 0 auto);
    @include display-flex;
    @include justify-content(space-around);
  }

  .logo,
  .logo > img {
    width: 113px;
    height: 35px;
    margin: 0 auto;
  }

  ul a {
    padding: 0 10px;
  }
}

footer {
  .container {
    .img {
      max-height: 150px;
      margin-top: -30px;
      border: 5px solid color('amber', 'darken-1');
      @media screen and (min-width: $breakpoint-md) {
        margin-top: -90px;
      }
    }

    .telephone {
      @include display-flex;
      @include flex-direction(column);
      @media screen and (min-width: $breakpoint-md) {
        margin-right: 30px;
      }

      p {
        margin: 20px auto;
      }
    }

    .logo {
      @include display-flex;
      @include justify-content(center);
      @include align-items(center);

      .logo-img {
        max-height: 50px;
        border-bottom: 1px solid;
        margin-right: 10px;
      }

      .rrss {
        margin: 4px 5px 0;
      }
    }

    &.hide-on-med-and-down {
      @include display-flex;
      @include justify-content(space-around);
      @include align-items(center);
    }
  }
}

.home {
  .text-container {
    @include display-flex;
    @include flex-direction(column);

    .title {
      margin: 0;
      font-size: 22px;

      strong {
        font-weight: 600;
      }
    }

    .subtitle {
      margin: 10px auto;
      padding: 5px;
      border-top: 2px solid;
      border-bottom: 2px solid;
      font-size: 13px;
    }

    .description {
      max-width: 400px;
      margin: 0 auto;
      padding: 0 20px;
      font-size: 24px;

      strong {
        font-weight: 600;
      }
    }
  }

  .middle {
    @include display-flex;
    @include justify-content(center);
    @include flex-flow(row wrap);
    padding: 30px;

    .key-selling-point {
      min-width: 130px;
      margin: 10px 30px;

      .icon {
        width: 48px;
      }
    }
  }

  .card-container {
    position: relative;
    margin: 20px 0;
    min-height: 400px;

    .custom-card {
      position: absolute;
      top: 30px;
      right: 30px;
      min-width: 300px;
      margin: 0 30px;

      &--modified {
        left: 30px;
        top: auto;
        right: auto;
      }
    }

    .card-content {
      position: relative;

      .title {
        font-size: 22px;
        font-weight: 800;
      }

      .description {
        font-size: 13px;
      }

      .cta {
        position: absolute;
        bottom: -22px;
        left: 10px;
      }

      &.bordered {
        border: 8px solid transparent;
        border-image: linear-gradient(to top right, color('amber', 'darken-1') 0%, color('cyan', 'lighten-3') 100%);
        border-image-slice: 1;

        &--modified {
          border: 8px solid transparent;
          border-image: linear-gradient(to top right, color('amber', 'darken-1') 0%, color('purple', 'lighten-4') 100%);
          border-image-slice: 1;
        }
      }
    }

    .compass {
      position: absolute;
      left: -150px;
      right: -150px;
      bottom: 155px;

      .icon {
        width: 250px;
      }
      @media screen and (min-width: $breakpoint-sm) {
        top: 110px;
        bottom: auto;

        .icon {
          width: 300px;
        }
      }
    }
  }
}