p,
span {
  line-height: 1.2;
}

.f-size-tiny {
  font-size: 0.6rem;
}

.f-size-small {
  font-size: 1.3rem;
}

.f-size-medium {
  font-size: 1.6rem;
}

.f-size-big {
  font-size: 2.3rem;
}

.f-size-large {
  font-size: 2.6rem;
}