<div class="navbar-fixed">
  <nav class="white black-text">
    <div class="nav-wrapper container">
      <a href="" class="logo hide-on-med-and-down"><img src="/images/logo.png" alt="Logo"></a>
      <ul class="links right hide-on-med-and-down black-text">
        <li>
          <a href="" class="black-text">LINK #1</a>
        </li>
        <li>
          <a href="" class="black-text">LINK #2</a>
        </li>
        <li>
          <a href="" class="black-text">LINK #3</a>
        </li>
        <li>
          <a href="" class="black-text">LINK #4</a>
        </li>
        <li>
          <a href="" class="black-text">LINK #5</a>
        </li>
        <li>
          <a href="" class="black-text">LINK #6</a>
        </li>
      </ul>
      <a href="#" data-activates="mobile-menu" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <a href="" class="logo hide-on-large-only"><img src="/images/logo.png" alt="Logo"></a>
      <ul class="side-nav" id="mobile-menu">
        <li>
          <a href="" class="black-text">LINK #1</a>
        </li>
        <li>
          <a href="" class="black-text">LINK #2</a>
        </li>
        <li>
          <a href="" class="black-text">LINK #3</a>
        </li>
        <li>
          <a href="" class="black-text">LINK #4</a>
        </li>
        <li>
          <a href="" class="black-text">LINK #5</a>
        </li>
        <li>
          <a href="" class="black-text">LINK #6</a>
        </li>
      </ul>
    </div>
  </nav>
</div>