<footer class="amber darken-2 black-text">
  <div class="container center hide-on-large-only">
    <div class="row center">
      <img class="responsive-img z-depth-2 img" src="images/sky.jpg">
    </div>
    <div class="telephone">
      <p class="left-align f-size-tiny">FREE CALL TO OUR<br><strong class="f-size-small">TELEPHONE</strong></p>
    </div>
    <div class="logo">
      <img class="responsive-img logo-img" src="/images/logo.png" alt="Logo">
      <a href="" class="rrss"><img src="/images/facebook.png" alt="Facebook"></a>
      <a href="" class="rrss"><img src="/images/instagram.png" alt="Instagram"></a>
      <a href="" class="rrss"><img src="/images/twitter.png" alt="Twitter"></a>
    </div>
    <ul class="row center">
      <li class="col s6 m6 l6">
        <a href="">LINK #1</a>
      </li>
      <li class="col s6 m6 l6">
        <a href="">LINK #2</a>
      </li>
      <li class="col s6 m6 l6">
        <a href="">LINK #3</a>
      </li>
      <li class="col s6 m6 l6">
        <a href="">LINK #4</a>
      </li>
      <li class="col s6 m6 l6">
        <a href="">LINK #5</a>
      </li>
      <li class="col s6 m6 l6">
        <a href="">LINK #6</a>
      </li>
    </ul>
    <div class="center f-size-tiny">
      <a href="" class="underline">
        TERMS & CONDITIONS
      </a> &nbsp;-&nbsp;
      <a href="" class="underline">
        COOKIE POLICIE
      </a> &nbsp;-&nbsp;
      <a href="" class="underline">
        LEGAL TERMS
      </a> &nbsp;-&nbsp;
      <a href="" class="underline">
        PRIVACY POLICY
      </a>
      <p>
        COPYRIGHT © 2022 COMPANY. ALL RIGHTS RESERVED
      </p>
    </div>
  </div>
  <div class="container center hide-on-med-and-down">
    <div class="margin-top">
      <div class="logo">
        <img class="responsive-img logo-img" src="/images/logo.png" alt="Logo">
        <a href="" class="rrss"><img src="/images/facebook.png" alt="Facebook"></a>
        <a href="" class="rrss"><img src="/images/instagram.png" alt="Instagram"></a>
        <a href="" class="rrss"><img src="/images/twitter.png" alt="Twitter"></a>
      </div>
      <ul class="row center">
        <li class="col s6 m6 l6">
          <a href="">LINK #1</a>
        </li>
        <li class="col s6 m6 l6">
          <a href="">LINK #2</a>
        </li>
        <li class="col s6 m6 l6">
          <a href="">LINK #3</a>
        </li>
        <li class="col s6 m6 l6">
          <a href="">LINK #4</a>
        </li>
        <li class="col s6 m6 l6">
          <a href="">LINK #5</a>
        </li>
        <li class="col s6 m6 l6">
          <a href="">LINK #6</a>
        </li>
      </ul>
    </div>
    <div class="telephone">
      <p class="left-align f-size-tiny">FREE CALL TO OUR<br><strong class="f-size-small">TELEPHONE</strong></p>
    </div>
    <img class="responsive-img z-depth-2 img" src="images/sky.jpg">
  </div>
  <div class="hide-on-med-and-down">
    <div class="center f-size-tiny margin-bottom">
      <a href="" class="underline">
        TERMS & CONDITIONS
      </a> &nbsp;-&nbsp;
      <a href="" class="underline">
        COOKIE POLICIE
      </a> &nbsp;-&nbsp;
      <a href="" class="underline">
        LEGAL TERMS
      </a> &nbsp;-&nbsp;
      <a href="" class="underline">
        PRIVACY POLICY
      </a>
      -
      <span>
        COPYRIGHT © 2022 COMPANY. ALL RIGHTS RESERVED
      </span>
    </div>
  </div>
</footer>