<footer class="blue-grey darken-4">
  <div class="container">
    <br>
    <div class="row flex-row">
      <div class="col l3 m3 s12 left">
      </div>
      <div class="col l9 m9 s12 right center-on-small-only">
        <p class="white-text right">
          <a href="" class="white-text modal-trigger waves-effect waves-light">{{site.terms.title}}</a>
          <span class="hide-on-small-only">&nbsp;-&nbsp;</span>
          <a href="" class="white-text">{{site.cookies.title}}</a>
        </p>
      </div>
    </div>
    <br>
  </div>
</footer>