<footer class="amber darken-2 black-text">
  <div class="container center hide-on-large-only">
    <div class="row center">
      <img class="responsive-img z-depth-2 img" src="images/sky.jpg">
    </div>
    <div class="telephone">
      <p class="left-align f-size-tiny">{{site.header.telephone1}}<br><strong class="f-size-small">{{site.header.telephone2}}</strong></p>
    </div>
    <div class="logo">
      <img class="responsive-img logo-img" src="/images/logo.png" alt="Logo">
      <a href="" class="rrss"><img src="/images/facebook.png" alt="Facebook"></a>
      <a href="" class="rrss"><img src="/images/instagram.png" alt="Instagram"></a>
      <a href="" class="rrss"><img src="/images/twitter.png" alt="Twitter"></a>
    </div>
    <ul class="row center">
      <li class="col s6 m6 l6">
        <a href="">{{site.header.link}} #1</a>
      </li>
      <li class="col s6 m6 l6">
        <a href="">{{site.header.link}} #2</a>
      </li>
      <li class="col s6 m6 l6">
        <a href="">{{site.header.link}} #3</a>
      </li>
      <li class="col s6 m6 l6">
        <a href="">{{site.header.link}} #4</a>
      </li>
      <li class="col s6 m6 l6">
        <a href="">{{site.header.link}} #5</a>
      </li>
      <li class="col s6 m6 l6">
        <a href="">{{site.header.link}} #6</a>
      </li>
    </ul>
    <div class="center f-size-tiny">
      <a href="" class="underline">
        {{site.footer.conditions}}
      </a> &nbsp;-&nbsp;
      <a href="" class="underline">
        {{site.footer.cookies}}
      </a> &nbsp;-&nbsp;
      <a href="" class="underline">
        {{site.footer.terms}}
      </a> &nbsp;-&nbsp;
      <a href="" class="underline">
        {{site.footer.policy}}
      </a>
      <p>
        {{site.footer.copyright}}
      </p>
    </div>
  </div>
  <div class="container center hide-on-med-and-down">
    <div class="margin-top">
      <div class="logo">
        <img class="responsive-img logo-img" src="/images/logo.png" alt="Logo">
        <a href="" class="rrss"><img src="/images/facebook.png" alt="Facebook"></a>
        <a href="" class="rrss"><img src="/images/instagram.png" alt="Instagram"></a>
        <a href="" class="rrss"><img src="/images/twitter.png" alt="Twitter"></a>
      </div>
      <ul class="row center">
        <li class="col s6 m6 l6">
          <a href="">{{site.header.link}} #1</a>
        </li>
        <li class="col s6 m6 l6">
          <a href="">{{site.header.link}} #2</a>
        </li>
        <li class="col s6 m6 l6">
          <a href="">{{site.header.link}} #3</a>
        </li>
        <li class="col s6 m6 l6">
          <a href="">{{site.header.link}} #4</a>
        </li>
        <li class="col s6 m6 l6">
          <a href="">{{site.header.link}} #5</a>
        </li>
        <li class="col s6 m6 l6">
          <a href="">{{site.header.link}} #6</a>
        </li>
      </ul>
    </div>
    <div class="telephone">
      <p class="left-align f-size-tiny">{{site.header.telephone1}}<br><strong class="f-size-small">{{site.header.telephone2}}</strong></p>
    </div>
    <img class="responsive-img z-depth-2 img" src="images/sky.jpg">
  </div>
  <div class="hide-on-med-and-down">
    <div class="center f-size-tiny margin-bottom">
      <a href="" class="underline">
        {{site.footer.conditions}}
      </a> &nbsp;-&nbsp;
      <a href="" class="underline">
        {{site.footer.cookies}}
      </a> &nbsp;-&nbsp;
      <a href="" class="underline">
        {{site.footer.terms}}
      </a> &nbsp;-&nbsp;
      <a href="" class="underline">
        {{site.footer.policy}}
      </a>
      -
      <span>
        {{site.footer.copyright}}
      </span>
    </div>
  </div>
</footer>